<template>
  <div id="login">
    <b-container>
      <h1 class="brand mb-5">Pronostics.app</h1>
      <b-form @submit.prevent="login" v-if="show">
        <b-form-group id="input-group-1">
          <b-form-input
            id="input-1"
            v-model="username"
            type="text"
            placeholder="Pseudo"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2">
          <b-form-input
            id="input-2"
            v-model="password"
            type="password"
            placeholder="Mot de passe"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" class="btn">Se connecter</b-button>
      </b-form>
      <p class="register">
        Vous n'avez pas de compte ?
        <router-link to="/register">Je m'inscris</router-link>
      </p>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
import Toastify from "toastify-js";

export default {
  data() {
    return {
      username: "",
      password: "",
      show: true,
      users: [],
    };
  },
  methods: {
    login() {
      axios
        .post(process.env.VUE_APP_URL + `api/login`, {
          username: this.username,
          password: this.password,
        })
        .then((response) => {
          this.username = "";
          this.password = "";
          localStorage.setItem("token", response.data);
          this.$router.push("/");
        })
        .catch((error) => {
          Toastify({
            text: error.response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#f69193",
          }).showToast();
        });
    },
  },
  created() {
  }
};
</script>