<template>
  <div id="register">
    <b-container>
      <h1 class="brand mb-5">Pronostics.app</h1>
      <b-form method="post" @submit.prevent="createAccount" v-if="show">
        <b-form-group id="input-group-1">
          <b-form-input
            id="input-1"
            v-model="username"
            type="text"
            placeholder="Pseudo"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2">
          <b-form-input
            id="input-2"
            v-model="email"
            type="email"
            placeholder="Email"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3">
          <b-input-group id="input-group-3">
            <b-form-input
              id="input-3"
              v-model="password"
              type="password"
              placeholder="Mot de passe"
            ></b-form-input>
            <b-input-group-append>
              <b-button class="buttonSee3" @click="seePassword(3)"
                >Voir</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-form-group>

        <b-form-group id="input-group-4">
          <b-input-group id="input-group-4">
            <b-form-input
              id="input-4"
              v-model="passwordConfirm"
              type="password"
              placeholder="Confirmation du mot de passe"
            ></b-form-input>
            <b-input-group-append>
              <b-button class="buttonSee4" @click="seePassword(4)"
                >Voir</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-form-group>

        <b-form-group id="input-group-5">
          <b-form-input
            id="input-5"
            v-model="sponsor"
            type="text"
            placeholder="Code parrain"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" class="btn">Créer un compte</b-button>
      </b-form>
      <div id="generatePassword">
        <b-button type="submit" @click="showModal" class="btn mt-3"
          >Générer un mot de passe sécurisé</b-button
        >

        <b-modal ref="my-modal" hide-footer title="Générateur de mot de passe">
          <div class="d-block text-center">
            <p>Mot de passe: <b-badge variant="light" id="password"></b-badge></p>
          </div>
          <b-button class="btn mt-3" block @click="generate">Générer</b-button>
          <b-button class="btn mt-3" block @click="hideModal">Fermer</b-button>
        </b-modal>
      </div>
      <p class="login">
        Vous avez déjà un compte ?
        <router-link to="/login">Je me connecte</router-link>
      </p>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";
import generator from "generate-password";

export default {
  data() {
    return {
      username: "",
      email: "",
      password: "",
      passwordConfirm: "",
      sponsor: "",
      show: true,
    };
  },
  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    seePassword(val) {
      const passwordField = document.querySelector("#input-" + val);
      const buttonSee = document.querySelector(".buttonSee" + val);

      if (passwordField.getAttribute("type") === "password") {
        passwordField.setAttribute("type", "text");
        buttonSee.innerText = "Masqué";
      } else {
        passwordField.setAttribute("type", "password");
        buttonSee.innerText = "Voir";
      }
    },
    createAccount() {
      axios
        .post(process.env.VUE_APP_URL + `api/register`, {
          username: this.username,
          email: this.email,
          password: this.password,
          passwordConfirm: this.passwordConfirm,
          sponsor: this.sponsor,
        })
        .then(() => {
          this.$router.push("login");
          Toastify({
            text: "Votre compte à bien été créé !",
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#83bc73",
          }).showToast();
        })
        .catch((error) => {
          console.log(error);
          Toastify({
            text: error.response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#f69193",
          }).showToast();
        });
    },
    generate() {
      let btn = document.getElementById("password");

      let password = generator.generate({
        length: 15,
        symbols: true,
        numbers: true,
        excludeSimilarCharacters: true,
        strict: true,
        exclude: "{}[]^~",
      });

      btn.innerHTML = password;
    },
  },
};
</script>

<style lang="scss">
.modal-dialog {
  .btn-secondary {
    width: 100%;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
    background: #f73164 !important;
    border: none;
    &:focus, &:hover {
      box-shadow: none !important;
      background: #f73164 !important;
      border: none;
    }
  }
}
</style>