<template>
  <div id="admin">
    <Title title="Admin"></Title>
    <b-container>
      <b-row class="pb-5">
        <b-col md="6" sm="12">
          <b-card class="sameHeight">
            <h2>Nombre d'utilisateur</h2>
            <b-card-text>
              <p class="text-center userCount mb-0">{{ numberUser.length }}</p>
            </b-card-text>
          </b-card>
        </b-col>
        <b-col md="6" sm="12">
          <b-card class="sameHeight">
            <h2>Mettre à jours les matchs</h2>
            <b-card-text class="text-center">
              <b-form-select
                v-model="selected"
                class="mb-3"
                :options="numberDay"
              ></b-form-select>
              <b-button @click="CreateMatch(selected - 1)" class="btn"
                >Mettre à jour</b-button
              >
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="pb-5">
        <b-col md="12">
          <b-card>
            <h2>Informations</h2>
            <b-card-text>
              <b-form
                v-if="show"
                method="post"
                @submit.prevent="sendNotification"
              >
                <b-form-group id="input-group-2" label-for="message">
                  <b-form-input
                    id="message"
                    v-model="message"
                    placeholder="Message"
                    name="message"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-form-select v-model="selected" class="mb-3">
                  <b-form-select-option value="Nouveauté"
                    >Nouveauté</b-form-select-option
                  >
                  <b-form-select-option value="Correction"
                    >Correction</b-form-select-option
                  >
                </b-form-select>
                <b-button type="submit" variant="primary">Publier</b-button>
              </b-form>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="pb-5">
        <b-col md="12">
          <b-card>
            <h2>Signalement de bug</h2>
            <b-card-text>
              <ul v-if="reports">
                <li v-for="(report, tr) in reports" :key="tr" :data="report">
                  {{ report.report }} -
                  <b-badge variant="info">{{ report.User.username }}</b-badge>
                </li>
              </ul>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Title from "../../components/Title.vue";
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";
import jwt from "jsonwebtoken";
import match from "../../../../backend/response.json";

export default {
  data() {
    return {
      message: "",
      selected: "",
      blocked: "",
      reports: "",
      users: [],
      show: true,
      numberDay: [],
      id: "",
      numberUser: [],
      match: [],
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  components: {
    Title,
  },
  methods: {
    CreateMatch(day) {
      const allFixtures = [];

      for (let i = day * 10; i < day * 10 + 10; i++) {
        const fixture = {
          home: match.response[i].teams.home.name,
          away: match.response[i].teams.away.name,
          homeLogo: match.response[i].teams.home.logo,
          awayLogo: match.response[i].teams.away.logo,
          referee: match.response[i].fixture.referee,
          venue: match.response[i].fixture.venue.name,
          date: match.response[i].fixture.date,
          score: {
            home: match.response[i].goals.home,
            away: match.response[i].goals.away,
          },
          day: i
        };
        allFixtures.push(fixture);
      }

      axios
        .post(
          process.env.VUE_APP_URL + `api/match/` + day,
          {
            allFixtures
          },
          { headers: this.token }
        )
        .then((response) => {
          this.purgeTable()
          Toastify({
            text: response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#83bc73",
          }).showToast();
        })
        .catch((err) => {
          Toastify({
            text: err.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#f69193",
          }).showToast();
        });
    },
    MatchDay() {
      for (let i = 1; i < 39; i++) {
        this.numberDay.push(i);
      }
    },
    purgeTable() {
      axios
        .put(
          process.env.VUE_APP_URL + `api/purge`, {},
          { headers: this.token }
        )
    },
    sendNotification() {
      axios
        .post(
          process.env.VUE_APP_URL + `api/send-notification`,
          {
            message: this.message,
            selected: this.selected,
          },
          { headers: this.token }
        )
        .then(() => {
          this.message = "";
          Toastify({
            text: "Notifications envoyés !",
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#83bc73",
          }).showToast();
        });
    },
    getReport() {
      axios
        .get(process.env.VUE_APP_URL + `api/get-report`, {
          headers: this.token,
        })
        .then((response) => {
          this.reports = response.data;
        });
    },
    getUserId() {
      axios
        .get(process.env.VUE_APP_URL + `api/user-id`, { headers: this.token })
        .then((response) => {
          this.id = response.data;
        });
    },
    getNumberUser() {
      axios
        .get(process.env.VUE_APP_URL + `api/number-user`, { headers: this.token })
        .then((response) => {
          this.numberUser = response.data;
        });
    },
    getUser() {
      const tokenVerify = jwt.verify(
        this.token["auth-token"],
        process.env.VUE_APP_ACCESS_TOKEN_SECRET
      );
      axios
        .get(process.env.VUE_APP_URL + `api/user/` + tokenVerify._id_user, {
          headers: this.token,
        })
        .then((response) => {
          this.users = response.data[0];
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  beforeMounted() {
    this.getUser();
  },
  created() {
    this.getReport();
    this.getUserId();
    this.MatchDay();
    this.getNumberUser();
  },
};
</script>
