<template>
  <div id="admin">
    <Title title="Utilisateurs"></Title>
    <b-container>
      <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Sponsor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
              v-for="(users, tr) in usersInactive"
              :key="tr"
            >
                <td>{{ users.username }}</td>
                <td>{{ users.email }}</td>
                <td>{{ users.sponsor }}</td>
                <td><b-icon @click="activeUser(users.id)" icon="check-square" scale="1" variant="success"></b-icon> <b-icon @click="deleteUser(users.id)" icon="x-circle" scale="1" variant="danger" class="ml-2"></b-icon></td>
            </tr>
        </tbody>
    </table>
    </b-container>
  </div>
</template>

<script>
import Title from "../../components/Title.vue";
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";
import jwt from "jsonwebtoken";

export default {
  data() {
    return {
      users: [],
      show: true,
      numberDay: [],
      usersInactive: [],
      match: [],
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  components: {
    Title,
  },
  methods: {
    getUserInactive() {
      axios
        .get(process.env.VUE_APP_URL + `api/users-inactive`, { headers: this.token })
        .then((response) => {
          this.usersInactive = response.data;
        });
    },
    getUserId() {
      axios
        .get(process.env.VUE_APP_URL + `api/user-id`, { headers: this.token })
        .then((response) => {
          this.id = response.data;
        });
    },
    getUser() {
      const tokenVerify = jwt.verify(
        this.token["auth-token"],
        process.env.VUE_APP_ACCESS_TOKEN_SECRET
      );
      axios
        .get(process.env.VUE_APP_URL + `api/user/` + tokenVerify._id_user, {
          headers: this.token,
        })
        .then((response) => {
          this.users = response.data[0];
        })
        .catch((error) => {
          console.log(error);
        });
    },
    activeUser(id_user) {
      axios
        .put(
          process.env.VUE_APP_URL + "api/users-active/" + id_user,
          {
            active: 1
          },
          { headers: this.token }
        )
        .then(() => {
          this.getUserInactive();
          Toastify({
            text: "Utilisateur activé avec succès !",
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "linear-gradient(26deg, #7366ff 0%, #a26cf8 100%)",
          }).showToast();
        })
        .catch((error) => {
          Toastify({
            text: error.response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "linear-gradient(26deg, #7366ff 0%, #a26cf8 100%)",
          }).showToast();
        });
    },
    deleteUser(id_user) {
      axios
        .delete(
          process.env.VUE_APP_URL + "api/destroy-user-inactive/" + id_user,
          { headers: this.token }
        )
        .then(() => {
          this.getUserInactive();
          Toastify({
            text: "Utilisateur supprimé !",
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "linear-gradient(26deg, #7366ff 0%, #a26cf8 100%)",
          }).showToast();
        })
        .catch((error) => {
          Toastify({
            text: error.response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "linear-gradient(26deg, #7366ff 0%, #a26cf8 100%)",
          }).showToast();
        });
    }
  },
  beforeMounted() {
    this.getUser();
  },
  created() {
    this.getUserId();
    this.getUserInactive();
  },
};
</script>

<style lang="scss">
#admin {
  table {
    width: 100%;
    th {
      width: 25%;
    }
  }
}
</style>
