<template>
  <div id="nav">
    <b-navbar toggleable="lg" type="light" fixed="">
      <b-navbar-brand
        ><router-link to="/" class="brand"
          >Pronostics.app</router-link
        ></b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item
            ><router-link to="/"><b-icon-house class="mr-1"></b-icon-house> Tableau de bord</router-link></b-nav-item
          >
          <b-nav-item
            ><router-link to="/classement"><b-icon-list-ol class="mr-1"></b-icon-list-ol> Classement</router-link></b-nav-item
          >

          <b-nav-item-dropdown right>
            <template #button-content>
              <span><b-icon-trophy class="mr-1"></b-icon-trophy> Championnat</span>
            </template>
            <b-dropdown-item
              ><router-link to="/ligue-1">Ligue 1</router-link></b-dropdown-item
            >
          </b-nav-item-dropdown>

          <b-nav-item
            ><router-link to="/report-bug"
              ><b-icon-flag class="mr-1"></b-icon-flag> Signaler un bug</router-link
            ></b-nav-item
          >

          <b-nav-item-dropdown right>
            <template #button-content>
              <span><b-icon-info-circle class="mr-1"></b-icon-info-circle> Informations</span>
            </template>
            <b-dropdown-item
              ><a href="https://discord.gg/pzeCUxmFwP" target="_blank"
                ><b-icon-discord class="mr-1"></b-icon-discord> Discord</a
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><a
                href="https://gitlab.com/Akileine13/pronostics_vuejs"
                target="_blank"
                ><b-icon-code-slash class="mr-1"></b-icon-code-slash> Code source</a
              ></b-dropdown-item
            >
          </b-nav-item-dropdown>
          
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <span>Mon compte</span>
            </template>
            <b-dropdown-item
              ><router-link to="/profile"
                >Mon profil</router-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="users.role === 'admin'"
              ><router-link to="/admin">Admin</router-link></b-dropdown-item
            >
            <b-dropdown-item v-if="users.role === 'admin'"
              ><router-link to="/users-active">Utilisateurs</router-link></b-dropdown-item
            >
            <b-dropdown-item @click="removeToken()"
              >Se deconnecter</b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import jwt from "jsonwebtoken";
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "Menu",
  data() {
    return {
      users: [],
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  computed: {
    ...mapGetters(['user']),
  },
  methods: {
    ...mapActions(['getUserInfo']),
    removeToken() {
      localStorage.removeItem("token");
      this.$router.push("login");
    },
    getUser() {
      const tokenVerify = jwt.verify(
        this.token["auth-token"],
        process.env.VUE_APP_ACCESS_TOKEN_SECRET
      );

      this.getUserInfo(tokenVerify._id_user)
        .then(() => {
          this.users = this.user.find(d => d);
        });
    },
  },
  created() {
    this.getUser();
  },
};
</script>
