<template>
    <div id="header">
        <Menu></Menu>
        <h1 class="m-1">{{ title }}</h1>
    </div>
</template>

<script>
import Menu from './Menu.vue'
export default {
    components: {
        Menu
    },
    props: {
        title: String
    }
}
</script>
