<template>
  <div id="ligueOne">
    <Title title="Ligue 1"></Title>
    <b-container class="pt-2">
      <h4 class="text-center font-weight-bold" v-if="day[0]">
        <u>Journée {{ day[0].day / 10 + 1 }}</u>
      </h4>
      <b-form method="post" @submit.prevent="sendResults">
        <div
          v-for="(team, data) in details"
          :key="data"
          :data="team"
          class="border mt-3 mb-3"
        >
          <b-row class="text-center d-flex align-items-center">
            <b-col md="3">
              <label class="m-3">
                <img :src="team.logo_home" alt="Logo" width="60" /><br />
                {{ team.home }}
              </label>
            </b-col>

            <b-col md="3" v-if="scoreExist.length < 1">
              <b-form-spinbutton
                v-model="score[data].home"
                min="0"
                max="15"
              ></b-form-spinbutton>
            </b-col>
            <b-col md="3" v-if="scoreExist.length < 1">
              <b-form-spinbutton
                v-model="score[data].away"
                min="0"
                max="15"
              ></b-form-spinbutton>
            </b-col>

            <b-col md="6" v-if="getScores.length > 1">
              <p class="text-center mb-1">
                <b
                  >Ton score enregistré :
                  <b-badge variant="success"
                    >{{ getScores[data].home }} -
                    {{ getScores[data].away }}</b-badge
                  ></b
                >
              </p>
            </b-col>

            <b-col md="3">
              <label class="m-3">
                <img :src="team.logo_away" alt="Logo" width="60" /><br />
                {{ team.away }}
              </label>
            </b-col>
          </b-row>

          <p class="text-center mb-1">
            <small
              ><i
                ><b>{{ team.venue }}</b></i
              ></small
            >
          </p>
          <p class="text-center mb-1">
            <small
              ><i
                ><b
                  >Le
                  {{
                    new Date(team.date).toLocaleString("fr-FR", {
                      timeZone: "Europe/Paris",
                    })
                  }}</b
                ></i
              ></small
            >
          </p>
          <p class="text-center pb-3">
            <small
              ><i
                ><b>Arbitre : {{ team.referee }}</b></i
              ></small
            >
          </p>
        </div>

        <div class="d-flex justify-content-center" v-if="scoreExist.length < 1">
          <b-button type="submit" class="btnPublish mb-4"
            >Valider les scores</b-button
          >
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import Title from "../../components/Title.vue";
import axios from "axios";
import jwt from "jsonwebtoken";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      score: [],
      getScoreExist: [],
      details: [],
      getScores: [],
      day: "",
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  components: {
    Title,
  },
  computed: {
    ...mapGetters(['scores', 'scoreExist']),
  },
  methods: {
    ...mapActions(['getIfScores', 'getIfResponse']),
    getInfosFixtures() {
      axios
        .get(process.env.VUE_APP_URL + `api/match`, {
          headers: this.token,
        })
        .then((response) => {
          this.details = response.data;
        });

      axios.get(process.env.VUE_APP_URL + `api/match-day`, {
        headers: this.token,
      });
    },
    getIfUserSendScore(id_user) {
      this.getIfResponse(id_user)
        .then(() => {
          this.getScoreExist = this.scoreExist;
        })
    },
    getScore(id_user) {
      this.getIfScores(id_user)
        .then(() => {
          this.getScores = this.scores;
        });
    },
    sendResults() {
      const tokenVerify = jwt.verify(
        this.token["auth-token"],
        process.env.VUE_APP_ACCESS_TOKEN_SECRET
      );
      const allScores = [];

      for (let i = 0; i < 10; i++) {
        const scores = {
          home: this.score[i].home,
          away: this.score[i].away,
          id_match: this.details[i].id,
        };
        allScores.push(scores);
      }

      axios
        .post(
          process.env.VUE_APP_URL + `api/send-results/` + tokenVerify._id_user,
          { allScores },
          {
            headers: this.token,
          }
        )
        .then((response) => {
          this.getIfResponse(tokenVerify._id_user);
          this.getScore(tokenVerify._id_user);
          Toastify({
            text: response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#83bc73",
          }).showToast();
        })
        .catch((err) => {
          Toastify({
            text: err.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#f69193",
          }).showToast();
        });
    },
  },
  created() {
    const tokenVerify = jwt.verify(
      this.token["auth-token"],
      process.env.VUE_APP_ACCESS_TOKEN_SECRET
    );

    for (let i = 0; i < 11; i++) {
      this.score[i] = {
        home: 0,
        away: 0,
      };
    }

    this.getInfosFixtures();
    this.getIfUserSendScore(tokenVerify._id_user);
    this.getScore(tokenVerify._id_user);
  },
};
</script>
