<template>
  <div id="profile">
    <Title title="Profil"></Title>
    <b-container>
      <b-row class="pb-5 pt-5">
        <b-col md="6" sm="12">
          <b-card>
            <b-avatar
              class="mb-3"
              v-bind:src="users.avatar"
              size="6rem"
            ></b-avatar>
            <p>Pseudo: {{ users.username }}</p>
            <p>Email: {{ users.email }}</p>
          </b-card>
        </b-col>
        <b-col md="6" sm="12">
          <b-card>
            <b-form @submit.prevent="updateUser">
              <b-form-group id="input-group-2">
                <b-form-input
                  id="input-2"
                  v-model="email"
                  type="email"
                  placeholder="Email"
                ></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-2">
                <b-input-group id="input-group-3">
                  <b-form-input
                    id="input-3"
                    v-model="password"
                    type="password"
                    placeholder="Mot de passe"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button @click="seePassword(3)" class="buttonSee3"
                      >Voir</b-button
                    >
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
              <b-form-group id="input-group-4">
                <b-form-input
                  id="input-4"
                  v-model="avatar"
                  type="text"
                  placeholder="Avatar"
                ></b-form-input>
                <small>Veuillez entrer une url.</small>
              </b-form-group>
              <div class="d-flex justify-content-center">
                <b-button type="submit" class="mt-3">Modifier</b-button>
              </div>
            </b-form>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Title from "../../components/Title.vue";
import axios from "axios";
import jwt from "jsonwebtoken";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      users: [],
      email: "",
      password: "",
      avatar: "",
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  components: {
    Title,
  },
  computed: {
    ...mapGetters(['user']),
  },
  methods: {
    ...mapActions(['getUserInfo']),
    seePassword(val) {
      const passwordField = document.querySelector("#input-" + val);
      const buttonSee = document.querySelector(".buttonSee" + val);

      if (passwordField.getAttribute("type") === "password") {
        passwordField.setAttribute("type", "text");
        buttonSee.innerText = "Masquer";
      } else {
        passwordField.setAttribute("type", "password");
        buttonSee.innerText = "Voir";
      }
    },
    updateUser() {
      const tokenVerify = jwt.verify(
        this.token["auth-token"],
        process.env.VUE_APP_ACCESS_TOKEN_SECRET
      );
      axios
        .post(
          process.env.VUE_APP_URL + "api/update-profile/" + tokenVerify._id_user,
          {
            email: this.email ? this.email : this.users.email,
            password: this.password,
            avatar: this.avatar ? this.avatar : this.users.avatar,
          },
          { headers: this.token }
        )
        .then(() => {
          this.email = "";
          this.password = "";
          this.avatar = "";
          this.getUser();
          Toastify({
            text: "Votre compte à bien été mise à jour.",
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "linear-gradient(26deg, #7366ff 0%, #a26cf8 100%)",
          }).showToast();
        })
        .catch((error) => {
          Toastify({
            text: error.response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "linear-gradient(26deg, #7366ff 0%, #a26cf8 100%)",
          }).showToast();
        });
    },
    getUser() {
      const tokenVerify = jwt.verify(
        this.token["auth-token"],
        process.env.VUE_APP_ACCESS_TOKEN_SECRET
      );
      this.getUserInfo(tokenVerify._id_user)
      .then(() => {
          this.users = this.user.find(d => d);
        })
    },
  },
  created() {
    this.getUser();
  },
};
</script>