<template>
  <div id="classement">
    <Title title="Classement"></Title>
    <b-container class="pt-2">
      <small>Nombre de participants : {{ users.length }} // <b-icon-patch-check-fill class="mr-1" variant="info"></b-icon-patch-check-fill> : Administrateur</small>
      <b-card class="mt-2">
        <b-list-group>
          <b-list-group-item class="d-flex justify-content-between align-items-center">
            <span>#Position</span>
            <span>#Parieur</span>
            <span>#Point</span>
          </b-list-group-item>
        </b-list-group>
        <b-list-group>
          <b-list-group-item
            v-for="(user, tr) in users" 
            :key="tr"
          >
            <div
              class="d-flex justify-content-between align-items-center"
            >
              <span v-if="tr + 1 === 1"><b-icon-trophy class="mr-1 gold"></b-icon-trophy> {{tr + 1}}</span>
              <span v-else-if="tr + 1 === 2"><b-icon-trophy class="mr-1 silver"></b-icon-trophy> {{tr + 1}}</span>
              <span v-else-if="tr + 1 === 3"><b-icon-trophy class="mr-1 bronze"></b-icon-trophy> {{tr + 1}}</span>
              <span v-else><b-icon-trophy class="mr-1 invisible"></b-icon-trophy> {{tr + 1}}</span>
              <span>{{user.username}} <b-icon-patch-check-fill v-if="user.role === 'admin'" class="mr-1" variant="info"></b-icon-patch-check-fill></span>
              <span>{{user.point}}</span>
            </div>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import Title from '../components/Title.vue'
import { mapActions } from 'vuex';
import jwt from "jsonwebtoken";

export default {
  data() {
    return {
      users: [],
      token: { 'auth-token': localStorage.getItem("token") }
    }
  },
  components: {
      Title
  },
  methods: {
  ...mapActions(['getUserPoint']),
  },
  created(){
    this.tokenVerify = jwt.verify(
      this.token["auth-token"],
      process.env.VUE_APP_ACCESS_TOKEN_SECRET
    );
    this.getUserPoint({ headers: this.token})
      .then((response) => {
        this.users = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  }
}
</script>