<template>
  <div id="home">
    <Title title="Tableau de board"></Title>
    <b-container>
      <router-link
        v-if="users.avatar == 'https://media.api-sports.io/football/teams/81.png'"
        to="/profile"
        class="dangerAlert"
      >
        <b-alert class="mt-4" show variant="danger">
          Si tu n'aimes pas le meilleur club au monde, tu peux changer ton
          avatar en cliquant ici.
        </b-alert>
      </router-link>
      <b-row class="pb-5 pt-2">
        <b-col md="6" sm="12">
          <b-card>
            <h2>
                Bienvenue {{ users.username }},
            </h2>
            <b-card-text>
              Tu as actuellement {{ users.point }} points. <i><router-link to="/classement">Voir le classement</router-link></i>
            </b-card-text>
            <lottie-player autoplay loop mode="normal" src="https://assets7.lottiefiles.com/packages/lf20_dSdZzy.json"></lottie-player>
          </b-card>
        </b-col>
        <b-col md="6" sm="12">
          <b-card class="mb-4">
            <h2>Vos matchs</h2>
            <b-card-text class="text-center">
              <b-button v-if="getScores.length > 1" class="btn success"
                >Vos matchs sont à jours</b-button
              >
              <b-button v-else class="btn danger"
                ><router-link to="/ligue-1">Mettre à jour mes matchs</router-link></b-button
              >
            </b-card-text>
          </b-card>
          <b-card>
            <h2>Nouveautés sur l'app</h2>
            <b-card-text
              v-if="notifications.length > 0"
            >
              <b-list-group>
                <b-list-group-item
                  v-for="(notification, tr) in notifications"
                  :key="tr"
                  :data="notification"
                  class="mb-2"
                >
                  {{ notification.message }}
                  <b-badge
                    v-if="notification.important === 'Nouveauté'"
                    pill
                    variant="success"
                    >{{ notification.important }}</b-badge
                  ><b-badge
                    v-else-if="notification.important === 'Correction'"
                    pill
                    variant="warning"
                    >{{ notification.important }}</b-badge
                  >
                </b-list-group-item>
              </b-list-group>
            </b-card-text>
            <b-card-text
              v-else
            >
              Il n'y aucune nouveauté
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Title from "../components/Title.vue";
import jwt from "jsonwebtoken";
import { mapActions, mapGetters } from 'vuex';
import "@lottiefiles/lottie-player";

export default {
  data() {
    return {
      position: 1,
      getScores: [],
      users: [],
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  components: {
    Title,
  },
  computed: {
    ...mapGetters(['user', 'notifications', 'scores']),
  },
  methods: {
    ...mapActions(['getUserInfo', 'getLastFiveNotifications', 'getIfScores']),
    getScore(id_user) {
      this.getIfScores(id_user)
        .then(() => {
          this.getScores = this.scores;
        });
    },
    getUser(id_user) {
      this.getUserInfo(id_user)
      .then(() => {
          this.users = this.user.find(d => d);
        })
    },
  },
  created() {
    const tokenVerify = jwt.verify(
      this.token["auth-token"],
      process.env.VUE_APP_ACCESS_TOKEN_SECRET
    );
    
    this.getLastFiveNotifications();
    this.getUser(tokenVerify._id_user);
    this.getScore(tokenVerify._id_user);
  },
};
</script>
