<template>
  <div id="report">
    <Title title="Signaler un bug"></Title>
    <b-container>
      <b-row class="pb-5 pt-2">
        <b-col md="12">
          <b-card>
            <b-card-text>
              <b-list-group>
                <p>De : {{ users.username }}</p>
                <b-form @submit.prevent="sendReport">
                  <b-form-textarea
                    id="textarea"
                    v-model="report"
                    placeholder="Ecrivez votre message"
                    rows="5"
                  ></b-form-textarea>
                  <div class="d-flex justify-content-center">
                    <b-button type="submit" class="text-center mt-3"
                      >Envoyer</b-button
                    >
                  </div>
                </b-form>
              </b-list-group>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="pb-5">
        <b-col md="12">
          <b-card>
            <h2>Vos signalements</h2>
            <b-card-text>
              <b-list-group>
                <b-list-group-item 
                  v-for="(report, tr) in reportedsPerUser" 
                  :key="tr" 
                  :data="report"
                >
                  {{ report.report }}
                  <b-badge
                    v-if="report.read == true"
                    pill
                    variant="success"
                    >Traité</b-badge
                  ><b-badge
                    v-else
                    pill
                    variant="warning"
                    >Non traité</b-badge
                  >
                </b-list-group-item>
              </b-list-group>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import jwt from "jsonwebtoken";
import Title from "../components/Title.vue";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      users: [],
      report: "",
      token: { "auth-token": localStorage.getItem("token") },
    };
  },
  components: {
    Title,
  },
  computed: {
    ...mapGetters(['user', 'reportedsPerUser']),
  },
  methods: {
    ...mapActions(['sendReported', 'getUserInfo', 'getReportPerUser']),
    sendReport() {
      this.sendReported(
        {report: this.report, id_user: this.users.id_user}, 
        { headers: this.token }
      )
        .then(() => {
          this.report = "";
          Toastify({
            text: "Merci de votre aide, votre signalement à été envoyé !",
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#83bc73",
          }).showToast();
        })
        .catch((error) => {
          Toastify({
            text: error.response.data,
            duration: 4000,
            newWindow: true,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#f69193",
          }).showToast();
        });
    },
    getUser(id_user) {
      this.getUserInfo(id_user)
      .then(() => {
        this.users = this.user.find(d => d);
      })
    },
  },
  created() {
    const tokenVerify = jwt.verify(
      this.token["auth-token"],
      process.env.VUE_APP_ACCESS_TOKEN_SECRET
    );
    this.getReportPerUser(tokenVerify._id_user);
    
    this.getUser(tokenVerify._id_user);
  },
};
</script>

<style lang="scss">
</style>
