$purple: #7366ff;
$pink: #f73164;
$gray: #f5fafe;
$black: black;
$white: white;
$success: #83bc73;
$error: #f69193;
$gold: #ffd700;
$silver: #C0C0C0;
$bronze: #614e1a;

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $gray;
  color: $black;
  font-size: 1rem;

  #app {
  font-family: semplicitapro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $gray;
  color: $black;
  
  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: $purple;
  }
  
  .success {
    background: $success !important;
  }
  .danger {
    background: $error !important;
  }
  .gold {
    color: $gold;
  }
  .silver {
    color: $silver;
  }
  .bronze {
    color: $bronze;
  }

  .card {
    background-color: $white;
    padding: 5px;
    border-radius: 10px;
    border: none;
    .list-group {
      background-color: $white;
      .list-group-item {
        background-color: $gray;
        border: 1px solid $white;
        border-radius: 10px;
        margin-bottom: 5px;
      }
    }
  }
  
  #nav {
    background-color: $white;
    -webkit-box-shadow: 0px 1px 2px 0px $gray;
    box-shadow: 0px 1px 2px 0px $gray;
    svg {
      font-size: 20px;
    }
    .brand {
      font-family: semplicitapro,sans-serif;
      font-weight: 700;
      font-style: normal;
      color: $pink;
      text-decoration: none;
    }
    #nav-collapse {
      a {
        color: $black;
        text-decoration: none;
      }
      .dropdown-menu {
        background-color: $white;
        .dropdown-item {
          &:hover {
            background-color: rgba(115, 102, 255, 0.2);
          }
        }
      }
    }
  }

  #header {
    h1 {
      font-size: 1.5rem;
      font-family: semplicitapro,sans-serif;
      font-weight: 700;
      font-style: normal;
      color: $purple;
      padding: 10px 0 0 10px;
    }
  }
  
  #home {
    .dangerAlert {
      text-decoration: none;
      div {
        background: $error;
        border:none;
        color: $black;
      }
      &:hover {
        color: $purple;
        text-decoration: none;
      }
    }
    .card {
      background: $white;
      padding: 20px;
      // box-shadow: 1px 1px 2px 1px rgba(29, 28, 28, 0.08);
      border-radius: 10px;
      border: none;
      a {
        color: $black;
      }
      .list-group-item {
        background-color: $gray;
        border: 1px solid $white;
        border-radius: 10px;
      }
      .btn {
        text-transform: uppercase;
        color: $white !important;
        font-weight: 500;
        padding: 10px 30px;
        border-radius: 5px;
        background: $pink;
        border: none;
        a {
          color: $white !important;
        }
      }
    }
  }
  #classement {
    .green {
      background-color: $success;
    }
  }
  #ligueOne {
    .border {
      border: none !important;
    }
    label {
      width: 190px;
    }
    .b-form-spinbutton {
      width: 70%;
      margin: auto;
    }
    .btnPublish {
      text-transform: uppercase;
      color: #fff !important;
      font-weight: 500;
      padding: 10px 30px;
      border-radius: 5px;
      border: none;
      background: $pink;
      width: auto;
      a {
        color: #fff !important;
      }
    }
  }
  
  #report {
    .card {
      .btn {
        text-transform: uppercase;
        color: #fff !important;
        font-weight: 500;
        padding: 10px 30px;
        border-radius: 5px;
        background: $pink;
        border: none;
        a {
          color: #fff !important;
        }
      }
    }
  }
  #profile {
    .card {
      background-color: $white;
      padding: 20px;
      border-radius: 10px;
      border: none;
      .input-group-append {
        .btn {
          padding: 0.375rem 0.75rem;
          &:focus {
            box-shadow: none !important;
          }
        }
      }
      .btn {
        text-transform: uppercase;
        color: #fff !important;
        font-weight: 500;
        padding: 10px 30px;
        border-radius: 5px;
        background: $pink;
        border: none;
        &:focus {
          box-shadow: none !important;
        }
        a {
          color: #fff !important;
        }
      }
    }
  }
  
  #admin {
    .card {
      background-color: $white;
      padding: 20px;
      border-radius: 10px;
      border: none;
      .userCount {
        color: $pink;
        font-size: 2rem;
      }
    }
    .btn {
      text-transform: uppercase;
      color: $white !important;
      font-weight: 500;
      padding: 10px 30px;
      border-radius: 5px;
      border: none;
      background: $pink;
      a {
        color: $white !important;
      }
    }
    .sameHeight {
      height: 200px;
      max-height: 200px;
    }
  }
  
  #login {
    .container {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .register {
        color: $black !important;
        margin-top: 10px;
        font-size: 12px;
        a {
          color: $black !important;
        }
      }
      .brand {
        font-family: semplicitapro,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: $purple;
        text-transform: uppercase;
        text-decoration: none;
      }
      form {
        width: 70%;
        .btn {
          width: 100%;
          text-transform: uppercase;
          color: #fff !important;
          font-weight: 500;
          padding: 10px 30px;
          border-radius: 5px;
          background: $pink;
          border: none;
          &:focus, &:hover {
            box-shadow: none !important;
            background: $pink;
            border: none;
          }
        }
      }
    }
  }
  #register {
    .container {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .login {
        color: $black !important;
        margin-top: 10px;
        font-size: 12px;
        a {
          color: $black !important;
        }
      }
      .brand {
        font-family: semplicitapro,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: $purple;
        text-transform: uppercase;
        text-decoration: none;
      }

      .input-group-append {
        .btn {
          padding: 0.375rem 0.75rem;
          &:focus {
            box-shadow: none !important;
          }
        }
      }
      form,
      #generatePassword,
      .modal-md {
        width: 70%;
        #password {
          font-size: 1rem;
        }
        .btn {
          width: 100%;
          text-transform: uppercase;
          color: $white !important;
          font-weight: 500;
          padding: 10px 30px;
          border-radius: 5px;
          background: $pink;
          border:none;
          &:focus {
            box-shadow: none !important;
          }
        }
      }
    }
  }
  }
}